h1 {
	text-transform: capitalize;
	color: white;
	margin-left:100px;
	font-family: 'Poppins';

}

body {
   background-image: url("bg-desktop.svg");
   background-color: hsl(257, 40%, 49%);
   font-family: 'Poppins';
	font-weight: 400;
	color:white;
}


img {
    float: left;
}
div {
	width:auto;
	height:auto;
}

